## Movie data matching
- dataset : IMDB, MovieLens

In [343]:
import os
import pandas as pd
from matplotlib import pyplot as plt

%matplotlib inline

### 1. Load data 
- MovieLens
- IMDB

#### 1-1. MovieLens

In [630]:
path = './../../data/ml-25m/'

In [631]:
os.listdir(path)

['genome-scores.csv',
 'genome-tags.csv',
 'links.csv',
 'movies.csv',
 'ratings.csv',
 'README.txt',
 'tags.csv']

In [633]:
ratings_df = pd.read_csv(os.path.join(path + 'ratings.csv'), encoding='utf-8')
tags_df = pd.read_csv(os.path.join(path + 'tags.csv'), encoding='utf-8')
movies_df = pd.read_csv(os.path.join(path + 'movies.csv'), encoding='utf-8')
links_df = pd.read_csv(os.path.join(path + 'links.csv'), encoding='utf-8')

In [347]:
# genome_tags_df = pd.read_csv(os.path.join(path + 'genome_tags.csv'), index_col='movieId', encoding='utf-8')
# genome_scores_df = pd.read_csv(os.path.join(path + 'genome_scores.csv'), index_col='movieId', encoding='utf-8')

In [634]:
print(links_df.shape)
links_df.head()

(62423, 3)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [635]:
print(ratings_df.shape)
ratings_df.head()

(25000095, 4)

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [636]:
print(tags_df.shape)
tags_df.head()

(1093360, 4)

   userId  movieId               tag   timestamp
0       3      260           classic  1439472355
1       3      260            sci-fi  1439472256
2       4     1732       dark comedy  1573943598
3       4     1732    great dialogue  1573943604
4       4     7569  so bad it's good  1573943455

In [637]:
print(movies_df.shape)
movies_df.head()

(62423, 3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [638]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

- 전처리

In [641]:
movielens_df = movies_df.copy()

In [643]:
# 영화 제목 끝에 "제거 
# ex) 11'09\\"01 - September 11 (2002)"
movielens_df[(movielens_df['title'].str[-1] == '\"')]['title']

Series([], Name: title, dtype: object)

In [644]:
# movielens_df['title'] = movielens_df[(movielens_df['title'].str[-1] == '\"')]['title'].str[:-1]    
index = movielens_df[(movielens_df['title'].str[-1] == '\"')]['title'].index
print(index)

Int64Index([], dtype='int64')

In [645]:
movielens_df.iloc[index]['title'].str[:-1]

Series([], Name: title, dtype: object)

In [646]:
movielens_df.at[index, 'title'] = movielens_df.iloc[index]['title'].str[:-1]

In [647]:
movielens_df['before_year'] = movielens_df['title'].str[-7:]
movielens_df['title'] = movielens_df['title'].str[:-7]

In [649]:
movielens_df.head()

,movieId,title,genres,before_year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,(1995)
1,2,Jumanji,Adventure|Children|Fantasy,(1995)
2,3,Grumpier Old Men,Comedy|Romance,(1995)
3,4,Waiting to Exhale,Comedy|Drama|Romance,(1995)
4,5,Father of the Bride Part II,Comedy,(1995)

In [650]:
movielens_df['year'] = movielens_df['before_year'].str.strip()

In [651]:
movielens_df['year'] = movielens_df['year'].str[-5:-1]

In [658]:
movielens_df.iloc[15036:15037]

,movieId,title,year,genres
15036,79607,"Millions Game, The (Das Millione",piel,Action|Drama|Sci-Fi|Thriller

In [655]:
movielens_df = movielens_df[['movieId','title','year','genres']]

In [656]:
movielens_df.head()

,movieId,title,year,genres
0,1,Toy Story,1995,Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji,1995,Adventure|Children|Fantasy
2,3,Grumpier Old Men,1995,Comedy|Romance
3,4,Waiting to Exhale,1995,Comedy|Drama|Romance
4,5,Father of the Bride Part II,1995,Comedy

In [659]:
# movielens_df['year'] = pd.to_numeric(movielens_df['year'])
# movielens_df['year'] = movielens_df.astype({'year': int})

In [660]:
movielens_df.head()

,movieId,title,year,genres
0,1,Toy Story,1995,Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji,1995,Adventure|Children|Fantasy
2,3,Grumpier Old Men,1995,Comedy|Romance
3,4,Waiting to Exhale,1995,Comedy|Drama|Romance
4,5,Father of the Bride Part II,1995,Comedy

In [661]:
movielens_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62423 entries, 0 to 62422
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  62423 non-null  int64
 1   title    62423 non-null  object
 2   year     62423 non-null  object
 3   genres   62423 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.9+ MB

#### 1-2. IMDB

In [729]:
path = './../../data/'

In [730]:
os.listdir(path)

['imdb_30.csv',
 'imdb_30.xlsx',
 'imdb_40(수정).xlsx',
 'imdb_50.csv',
 'imdb_top_1000.csv',
 'ml-25m',
 'ml-25m.zip',
 'movieLens',
 'new버전_imdb_40(1차완성).xlsx',
 'old버전_imdb_40(1차완성).xlsx',
 '~$new버전_imdb_40(1차완성).xlsx']

In [665]:
imdb_1000 = pd.read_csv(os.path.join(path + 'imdb_top_1000.csv'), encoding='utf-8')

In [666]:
print(imdb_1000.shape)

(1000, 16)

In [667]:
imdb_1000.columns

Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [668]:
imdb_1000.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [669]:
imdb_df = imdb_1000.copy()

In [670]:
imdb_df = imdb_df[['Series_Title', 'Released_Year', 'Genre']]
imdb_df.columns = ['title','year','genres']

In [671]:
imdb_df.head()

                      title  year                genres
0  The Shawshank Redemption  1994                 Drama
1             The Godfather  1972          Crime, Drama
2           The Dark Knight  2008  Action, Crime, Drama
3    The Godfather: Part II  1974          Crime, Drama
4              12 Angry Men  1957          Crime, Drama

- IMDB Top 30

In [705]:
imdb_40 = imdb_df.iloc[0:40,:]

In [706]:
imdb_40.reset_index(inplace=True)

In [707]:
imdb_40.columns = ['movieId','title','year','genres']

In [727]:
imdb_40.head(40)

,movieId,title,year,genres
0,0,the shawshank redemption,1994,Drama
1,1,the godfather,1972,"Crime, Drama"
2,2,the dark knight,2008,"Action, Crime, Drama"
3,3,the godfather: part ii,1974,"Crime, Drama"
4,4,12 angry men,1957,"Crime, Drama"
5,5,the lord of the rings: the return of the king,2003,"Action, Adventure, Drama"
6,6,pulp fiction,1994,"Crime, Drama"
7,7,schindler's list,1993,"Biography, Drama, History"
8,8,inception,2010,"Action, Adventure, Sci-Fi"
9,9,fight club,1999,Drama
10,10,the lord of the rings: the fellowship of the ring,2001,"Action, Adventure, Drama"
11,11,forrest gump,1994,"Drama, Romance"
12,12,"il buono, il brutto, il cattivo",1966,Western
13,13,the lord of the rings: the two towers,2002,"Action, Adventure, Drama"
14,14,the matrix,1999,"Action, Sci-Fi"
15,15,goodfellas,1990,"Biography, Crime, Drama"
16,16,star wars: episode v - the empire strikes back,1980,"Action, Adventure, Fantasy"
17,17,one flew over the cuckoo's nest,1975,Drama
18,18,hamilton,2020,"Biography, Drama, History"
19,19,gisaengchung,2019,"Comedy, Drama, Thriller"
20,20,soorarai pottru,2020,Drama
21,21,interstellar,2014,"Adventure, Drama, Sci-Fi"
22,22,cidade de deus,2002,"Crime, Drama"
23,23,sen to chihiro no kamikakushi,2001,"Animation, Adventure, Family"
24,24,saving private ryan,1998,"Drama, War"
25,25,the green mile,1999,"Crime, Drama, Fantasy"
26,26,la vita è bella,1997,"Comedy, Drama, Romance"
27,27,se7en,1995,"Crime, Drama, Mystery"
28,28,the silence of the lambs,1991,"Crime, Drama, Thriller"
29,29,star wars,1977,"Action, Adventure, Fantasy"
30,30,seppuku,1962,"Action, Drama, Mystery"
31,31,shichinin no samurai,1954,"Action, Adventure, Drama"
32,32,it's a wonderful life,1946,"Drama, Family, Fantasy"
33,33,joker,2019,"Crime, Drama, Thriller"
34,34,whiplash,2014,"Drama, Music"
35,35,the intouchables,2011,"Biography, Comedy, Drama"
36,36,the prestige,2006,"Drama, Mystery, Sci-Fi"
37,37,the departed,2006,"Crime, Drama, Thriller"
38,38,the pianist,2002,"Biography, Drama, Music"
39,39,gladiator,2000,"Action, Adventure, Drama"

In [709]:
len(imdb_40)

40

In [731]:
imdb_40.to_csv(path + 'imdb_40.csv')

In [732]:
import openpyxl
imdb_40.to_excel(path + 'imdb_40.xlsx')

### 2. Comparison between movieLens and IMDB

#### 2-1. Between movieLens and IMDB

In [712]:
set_movielens = set(movielens_df.title) 
print(len(set_movielens))

58444

In [713]:
set_imdb = set(imdb_df.title)
print(len(set_imdb))

999

In [714]:
difference_movies = set_imdb - set_movielens
print(len(difference_movies))

981

In [715]:
intersection_movies = set_imdb.intersection(set_movielens)
print(len(intersection_movies))

18

#### 2-2. Between movieLens and IMDB_top_40

In [716]:
set_imdb = set(imdb_40.title)
print(len(set_imdb))

40

In [717]:
difference_movies = set_imdb - set_movielens
print(len(difference_movies))

24

In [718]:
intersection_movies = set_imdb.intersection(set_movielens)
print(len(intersection_movies))

16

In [719]:
intersection_movies

{'12 angry men',
 'fight club',
 'forrest gump',
 'gladiator',
 'goodfellas',
 'inception',
 'interstellar',
 "it's a wonderful life",
 'joker',
 "one flew over the cuckoo's nest",
 'pulp fiction',
 'saving private ryan',
 "schindler's list",
 'star wars: episode v - the empire strikes back',
 'the dark knight',
 'whiplash'}

In [720]:
difference_movies

{'cidade de deus',
 'gisaengchung',
 'hamilton',
 'il buono, il brutto, il cattivo',
 'la vita è bella',
 'se7en',
 'sen to chihiro no kamikakushi',
 'seppuku',
 'shichinin no samurai',
 'soorarai pottru',
 'star wars',
 'the departed',
 'the godfather',
 'the godfather: part ii',
 'the green mile',
 'the intouchables',
 'the lord of the rings: the fellowship of the ring',
 'the lord of the rings: the return of the king',
 'the lord of the rings: the two towers',
 'the matrix',
 'the pianist',
 'the prestige',
 'the shawshank redemption',
 'the silence of the lambs'}

- 동일한 제목의 imdb 영화

In [721]:
imdb_40[imdb_40['title'].isin(intersection_movies)]

,movieId,title,year,genres
2,2,the dark knight,2008,"Action, Crime, Drama"
4,4,12 angry men,1957,"Crime, Drama"
6,6,pulp fiction,1994,"Crime, Drama"
7,7,schindler's list,1993,"Biography, Drama, History"
8,8,inception,2010,"Action, Adventure, Sci-Fi"
9,9,fight club,1999,Drama
11,11,forrest gump,1994,"Drama, Romance"
15,15,goodfellas,1990,"Biography, Crime, Drama"
16,16,star wars: episode v - the empire strikes back,1980,"Action, Adventure, Fantasy"
17,17,one flew over the cuckoo's nest,1975,Drama
21,21,interstellar,2014,"Adventure, Drama, Sci-Fi"
24,24,saving private ryan,1998,"Drama, War"
32,32,it's a wonderful life,1946,"Drama, Family, Fantasy"
33,33,joker,2019,"Crime, Drama, Thriller"
34,34,whiplash,2014,"Drama, Music"
39,39,gladiator,2000,"Action, Adventure, Drama"

In [725]:
movielens_df[movielens_df['title'].isin(intersection_movies)]

,movieId,title,year,genres
292,296,pulp fiction,1994,Comedy|Crime|Drama|Thriller
351,356,forrest gump,1994,Comedy|Drama|Romance|War
522,527,schindler's list,1993,Drama|War
932,953,it's a wonderful life,1946,Children|Drama|Fantasy|Romance
1164,1193,one flew over the cuckoo's nest,1975,Drama
1166,1196,star wars: episode v - the empire strikes back,1980,Action|Adventure|Sci-Fi
1173,1203,12 angry men,1957,Drama
1182,1213,goodfellas,1990,Crime|Drama
1939,2028,saving private ryan,1998,Action|Drama|War
2867,2959,fight club,1999,Action|Crime|Drama|Thriller
3479,3578,gladiator,2000,Action|Adventure|Drama
7638,8132,gladiator,1992,Action|Drama
14675,77846,12 angry men,1997,Crime|Drama
14937,79132,inception,2010,Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX
19995,103671,joker,2012,Comedy
21199,109487,interstellar,2014,Sci-Fi|IMAX
21857,112552,whiplash,2014,Drama
27811,130219,the dark knight,2011,Action|Crime|Drama|Thriller
29812,134771,whiplash,1948,Drama
43443,166024,whiplash,2013,(no genres listed)
61005,204698,joker,2019,Crime|Drama|Thriller

In [726]:
imdb_40[imdb_40['title'].isin(difference_movies)]

,movieId,title,year,genres
0,0,the shawshank redemption,1994,Drama
1,1,the godfather,1972,"Crime, Drama"
3,3,the godfather: part ii,1974,"Crime, Drama"
5,5,the lord of the rings: the return of the king,2003,"Action, Adventure, Drama"
10,10,the lord of the rings: the fellowship of the ring,2001,"Action, Adventure, Drama"
12,12,"il buono, il brutto, il cattivo",1966,Western
13,13,the lord of the rings: the two towers,2002,"Action, Adventure, Drama"
14,14,the matrix,1999,"Action, Sci-Fi"
18,18,hamilton,2020,"Biography, Drama, History"
19,19,gisaengchung,2019,"Comedy, Drama, Thriller"
20,20,soorarai pottru,2020,Drama
22,22,cidade de deus,2002,"Crime, Drama"
23,23,sen to chihiro no kamikakushi,2001,"Animation, Adventure, Family"
25,25,the green mile,1999,"Crime, Drama, Fantasy"
26,26,la vita è bella,1997,"Comedy, Drama, Romance"
27,27,se7en,1995,"Crime, Drama, Mystery"
28,28,the silence of the lambs,1991,"Crime, Drama, Thriller"
29,29,star wars,1977,"Action, Adventure, Fantasy"
30,30,seppuku,1962,"Action, Drama, Mystery"
31,31,shichinin no samurai,1954,"Action, Adventure, Drama"
35,35,the intouchables,2011,"Biography, Comedy, Drama"
36,36,the prestige,2006,"Drama, Mystery, Sci-Fi"
37,37,the departed,2006,"Crime, Drama, Thriller"
38,38,the pianist,2002,"Biography, Drama, Music"

#### 2-3. Analyze the difference

- 로마자 포함

In [691]:
imdb_40.iloc[26:27,:]

    movieId            title  year                  genres
26       26  La vita è bella  1997  Comedy, Drama, Romance

In [692]:
movielens_df.head()

,movieId,title,year,genres
0,1,Toy Story,1995,Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji,1995,Adventure|Children|Fantasy
2,3,Grumpier Old Men,1995,Comedy|Romance
3,4,Waiting to Exhale,1995,Comedy|Drama|Romance
4,5,Father of the Bride Part II,1995,Comedy

- 소문자로 변경

In [693]:
movielens_df['title'] = movielens_df['title'].str.lower()
imdb_40['title'] = imdb_40['title'].str.lower()

C:\Users\user\anaconda3\envs\torch37\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [694]:
movielens_df.head()

,movieId,title,year,genres
0,1,toy story,1995,Adventure|Animation|Children|Comedy|Fantasy
1,2,jumanji,1995,Adventure|Children|Fantasy
2,3,grumpier old men,1995,Comedy|Romance
3,4,waiting to exhale,1995,Comedy|Drama|Romance
4,5,father of the bride part ii,1995,Comedy

In [695]:
for num in range(0, len(movielens_df)): 
#     print(num)
    if('Godfather'.lower() in movielens_df['title'][num]):
        count = count + 1
        print(f"{movielens_df['movieId'].loc[num]} | {movielens_df['title'].loc[num]} | {movielens_df['year'].loc[num]}")

858 | godfather, the | 1972
1221 | godfather: part ii, the | 1974
2023 | godfather: part iii, the | 1990
8607 | tokyo godfathers | 2003
25934 | 3 godfathers | 1948
100180 | last godfather, the | 2010
106704 | disco godfather | 1979
121519 | the new godfathers | 1979
123880 | the black godfather | 1974
124791 | three godfathers | 1936
143113 | godfather | 1991
143261 | battle of the godfathers | 1973
156972 | onimasa: a japanese godfather | 1982
172115 | the medici: godfathers of the renaissance | 2004
176537 | herschell gordon lewis: the godfather of gore | 2010
188155 | the godfather legacy | 2012
188173 | the godfather family: a look inside | 1990
200760 | the class reunion 3: godfathers | 2019
203302 | the black godfather | 2019
206423 | our godfather | 2019

### 3. Right Answer

In [733]:
path = './../../data/'

In [735]:
os.listdir(path)

['imdb_30.csv',
 'imdb_30.xlsx',
 'imdb_40(수정).xlsx',
 'imdb_40.csv',
 'imdb_40.xlsx',
 'imdb_50.csv',
 'imdb_top_1000.csv',
 'ml-25m',
 'ml-25m.zip',
 'movieLens',
 'new_imdb_40.xlsx',
 'old_imdb_40.xlsx']

In [736]:
right_df = pd.read_excel(os.path.join(path + 'new_imdb_40.xlsx'))

In [737]:
right_df.head()

                      title  imdb_id  movielens_id  year
0  The Shawshank Redemption        0         318.0  1994
1             The Godfather        1         858.0  1972
2           The Dark Knight        2      130219.0  2008
3    The Godfather: Part II        3        1221.0  1974
4              12 Angry Men        4        1203.0  1957

In [738]:
right_df.dropna(axis=0, inplace=True)

In [739]:
len(right_df)

38

In [740]:
right_df.reset_index(inplace=True)

In [743]:
right30_df = right_df.iloc[:30]

In [744]:
right30_df.head()

   index                     title  imdb_id  movielens_id  year
0      0  The Shawshank Redemption        0         318.0  1994
1      1             The Godfather        1         858.0  1972
2      2           The Dark Knight        2      130219.0  2008
3      3    The Godfather: Part II        3        1221.0  1974
4      4              12 Angry Men        4        1203.0  1957

In [748]:
right30_df.dtypes

index             int64
title            object
imdb_id           int64
movielens_id    float64
year              int64
dtype: object

In [749]:
right30_df = right30_df.astype({'movielens_id': 'int64'})

In [750]:
right30_df.dtypes

index            int64
title           object
imdb_id          int64
movielens_id     int64
year             int64
dtype: object

In [751]:
right30_df.head()

   index                     title  imdb_id  movielens_id  year
0      0  The Shawshank Redemption        0           318  1994
1      1             The Godfather        1           858  1972
2      2           The Dark Knight        2        130219  2008
3      3    The Godfather: Part II        3          1221  1974
4      4              12 Angry Men        4          1203  1957

### 4. Levenshtein Distance

In [753]:
#레벤슈타인 거리 구하기
def calc_distance(a,b):
    '''레벤슈타인 거리 계산하기'''
    # 1. 동일한 문자열이면 거리 0
    if a == b : return 0
    
    a_len = len(a)
    b_len = len(b)
    
    # 2. 둘 중 하나라도 문자열 길이가 0이면 거리는 다른 문자열 길이
    if a == "" : return b_len 
    if b == "" : return a_len

    # 2차원 배열(a_len+1, b_len+1)준비하기 --(#1)
    matrix = [ []for i in range(a_len+1)] #a길이+1 만큼의 크기의 배열준비
    for i in range(a_len+1) :
        matrix[i] = [0 for j in range(b_len+1)] #0으로 초기화(2차원배열)    
   
    # 0일때 초기값을 설정 (#2)
    for i in range(a_len+1):
        matrix[i][0]=i   
    for j in range(b_len+1):
        matrix[0][j]=j
    
    #표 채우기 --(#3)
    for i in range(1, a_len+1):
        ac=a[i-1]  #a의 첫번째 글자(=[0]) 부터 시작
        for j in range(1, b_len+1):
            bc=b[j-1] #b의 첫번째글자(=[0]) 부터 시작
            cost=0 if (ac == bc) else 1 #a[i-1]과 b[j-1] 이 같다면 비용(cost)은 0. 같지 않으면 1
            matrix[i][j] = min([  #min 함수 : 최소값을 돌려줌; 
            #a의 i번째까지의 문자와 b의 j번째까지의 문자를 비교해서, 삽입/제거/변경 비용 중 최소값으로 표를 채운다.
                matrix[i-1][j] + 1,     # 문자 삽입
                matrix[i][j-1] + 1,     # 문자 제거
                matrix[i-1][j-1] + cost # 문자 변경
            ])
    return matrix[a_len][b_len] #최종적으로는, 표의 오른쪽 아래에 있는 값이 최소거리(레벤슈타인 거리)가 된다.
    #함수 calc_distance 끝

In [754]:
#"가나다라"와 "가마바라"의 거리 --(#4)
print("'가나다라'와 '가마바라'의 거리: ",end='')
print(calc_distance("가나다라", "가마바라"))

'가나다라'와 '가마바라'의 거리: 2

In [755]:
#실행 예
samples = ["신촌역","신천군","신천역","신발","마곡역", "촌신역", "역신촌"]
base = samples[0]

In [756]:
# 정렬 : 오름차순
r = sorted(samples, key = lambda n: calc_distance(base, n)) #base(신촌역)과 samples의 각 원소 비교

In [757]:
r

['신촌역', '신천역', '신천군', '신발', '마곡역', '촌신역', '역신촌']

In [758]:
for n in r:
    print(calc_distance(base, n), n)

0 신촌역
1 신천역
2 신천군
2 신발
2 마곡역
2 촌신역
2 역신촌

- 반지의 제왕

In [759]:
#실행 예
samples = ["The Lord of the Rings: The Return of the King".lower(),
        "lord of the rings, the",
        "lord of the rings: the fellowship of the ring, the",
        "lord of the rings: the two towers, the",
        "lord of the rings: the return of the king, the"]
base = samples[0]

In [760]:
# 정렬 : 오름차순
r = sorted(samples, key = lambda n: calc_distance(base, n))

In [761]:
for n in r:
    print(calc_distance(base, n), n)

0 the lord of the rings: the return of the king
9 lord of the rings: the return of the king, the
19 lord of the rings: the fellowship of the ring, the
19 lord of the rings: the two towers, the
24 lord of the rings, the

- GodFather

In [762]:
#실행 예
samples = ["The Godfather: Part II".lower(),
    "godfather, the",
    "godfather: part ii, the",
    "godfather: part iii, the",
    "tokyo godfathers",
    "3 godfathers",
    "last godfather, the",
    "disco godfather"]
base = samples[0]

In [763]:
# 정렬 : 오름차순
r = sorted(samples, key = lambda n: calc_distance(base, n))

In [764]:
for n in r:
    print(calc_distance(base, n), n)

0 the godfather: part ii
9 godfather: part ii, the
10 godfather: part iii, the
11 godfather, the
11 last godfather, the
12 3 godfathers
13 tokyo godfathers
14 disco godfather