## Movie data matching
- dataset : IMDB, MovieLens

In [5]:
import os
import pandas as pd
from matplotlib import pyplot as plt

%matplotlib inline

### 1. Load data 
- MovieLens
- IMDB

#### 1-1. MovieLens

In [161]:
path = './data/movieLens/'

In [162]:
os.listdir(path)

['genome_scores.csv',
 'genome_tags.csv',
 'link.csv',
 'movie.csv',
 'rating.csv',
 'tag.csv']

In [164]:
ratings_df = pd.read_csv(os.path.join(path + 'rating.csv'), encoding='utf-8')
tags_df = pd.read_csv(os.path.join(path + 'tag.csv'), encoding='utf-8')
movies_df = pd.read_csv(os.path.join(path + 'movie.csv'), index_col='movieId', encoding='utf-8')
links_df = pd.read_csv(os.path.join(path + 'link.csv'), index_col='movieId', encoding='utf-8')

In [165]:
# genome_tags_df = pd.read_csv(os.path.join(path + 'genome_tags.csv'), index_col='movieId', encoding='utf-8')
# genome_scores_df = pd.read_csv(os.path.join(path + 'genome_scores.csv'), index_col='movieId', encoding='utf-8')

ValueError: Index movieId invalid

In [166]:
print(links_df.shape)
links_df.head()

(27278, 2)

         imdbId   tmdbId
movieId
1        114709    862.0
2        113497   8844.0
3        113228  15602.0
4        114885  31357.0
5        113041  11862.0

In [158]:
print(ratings_df.shape)
ratings_df.head()

(20000263, 4)

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [159]:
print(tags_df.shape)
tags_df.head()

(465564, 4)

   userId  movieId            tag            timestamp
0      18     4141    Mark Waters  2009-04-24 18:19:40
1      65      208      dark hero  2013-05-10 01:41:18
2      65      353      dark hero  2013-05-10 01:41:19
3      65      521  noir thriller  2013-05-10 01:39:43
4      65      592      dark hero  2013-05-10 01:41:18

In [160]:
print(movies_df.shape)
movies_df.head()

(27278, 2)

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy

In [42]:
movielens_title = movies_df[['title']]

In [43]:
movielens_title.head()

                                      title
movieId
1                          Toy Story (1995)
2                            Jumanji (1995)
3                   Grumpier Old Men (1995)
4                  Waiting to Exhale (1995)
5        Father of the Bride Part II (1995)

In [44]:
movielens_title['title'] = movielens_title['title'].str[:-7]

C:\Users\user\anaconda3\envs\torch37\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [45]:
movielens_title.head()

                               title
movieId
1                          Toy Story
2                            Jumanji
3                   Grumpier Old Men
4                  Waiting to Exhale
5        Father of the Bride Part II

#### 1-2. IMDB

In [46]:
path = './data/'

In [47]:
os.listdir(path)

['imdb_top_1000.csv', 'movieLens']

In [48]:
imdb_df = pd.read_csv(os.path.join(path + 'imdb_top_1000.csv'), encoding='utf-8')

In [49]:
print(imdb_df.shape)

(1000, 16)

In [50]:
imdb_df.columns

Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [64]:
imdb_df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [157]:
imdb_df.iloc[18:19,:]

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
18,https://m.media-amazon.com/images/M/MV5BNjViNW...,Hamilton,2020,PG-13,160 min,"Biography, Drama, History",8.6,The real life of one of America's foremost fou...,90.0,Thomas Kail,Lin-Manuel Miranda,Phillipa Soo,Leslie Odom Jr.,Renée Elise Goldsberry,55291,NaN

In [59]:
imdb_title = imdb_df[['Series_Title']]
imdb_title.columns = ['title']

In [60]:
imdb_title.head()

                      title
0  The Shawshank Redemption
1             The Godfather
2           The Dark Knight
3    The Godfather: Part II
4              12 Angry Men

- IMDB Top 30

In [87]:
imdb_30 = imdb_title.iloc[0:30,:]

In [88]:
imdb_30.head()

                      title
0  The Shawshank Redemption
1             The Godfather
2           The Dark Knight
3    The Godfather: Part II
4              12 Angry Men

In [89]:
len(imdb_30)

30

In [90]:
imdb_30.to_csv('./data/imdb_30.csv')

### 2. Comparison between movieLens and IMDB

#### 2-1. Between movieLens and IMDB

In [91]:
set_movielens = set(movielens_title.title) 
print(len(set_movielens))

26216

In [93]:
set_imdb = set(imdb_title.title)
print(len(set_imdb))

999

In [94]:
difference_movies = set_imdb - set_movielens
print(len(difference_movies))

518

In [95]:
intersection_movies = set_imdb.intersection(set_movielens)
print(len(intersection_movies))

481

#### 2-2. Between movieLens and IMDB_top_30

In [96]:
set_imdb_30 = set(imdb_30.title)
print(len(set_imdb_30))

30

In [97]:
difference_movies_30 = set_imdb_30 - set_movielens
print(len(difference_movies_30))

18

In [98]:
intersection_movies_30 = set_imdb_30.intersection(set_movielens)
print(len(intersection_movies_30))

12

In [99]:
intersection_movies_30

{'12 Angry Men',
 'Fight Club',
 'Forrest Gump',
 'Goodfellas',
 'Inception',
 'Interstellar',
 "One Flew Over the Cuckoo's Nest",
 'Pulp Fiction',
 'Saving Private Ryan',
 "Schindler's List",
 'Star Wars: Episode V - The Empire Strikes Back',
 'The Dark Knight'}

In [100]:
difference_movies_30

{'Cidade de Deus',
 'Gisaengchung',
 'Hamilton',
 'Il buono, il brutto, il cattivo',
 'La vita è bella',
 'Se7en',
 'Sen to Chihiro no kamikakushi',
 'Soorarai Pottru',
 'Star Wars',
 'The Godfather',
 'The Godfather: Part II',
 'The Green Mile',
 'The Lord of the Rings: The Fellowship of the Ring',
 'The Lord of the Rings: The Return of the King',
 'The Lord of the Rings: The Two Towers',
 'The Matrix',
 'The Shawshank Redemption',
 'The Silence of the Lambs'}

In [104]:
imdb_30[imdb_30['title'].isin(difference_movies_30)]

                                                title
0                            The Shawshank Redemption
1                                       The Godfather
3                              The Godfather: Part II
5       The Lord of the Rings: The Return of the King
10  The Lord of the Rings: The Fellowship of the Ring
12                    Il buono, il brutto, il cattivo
13              The Lord of the Rings: The Two Towers
14                                         The Matrix
18                                           Hamilton
19                                       Gisaengchung
20                                    Soorarai Pottru
22                                     Cidade de Deus
23                      Sen to Chihiro no kamikakushi
25                                     The Green Mile
26                                    La vita è bella
27                                              Se7en
28                           The Silence of the Lambs
29                                          Star Wars

#### 2-3. Analyze the difference

- 로마자 포함

In [86]:
imdb_50.iloc[26:27,:]

              title
26  La vita è bella

In [105]:
movielens_title.head()

                               title
movieId
1                          Toy Story
2                            Jumanji
3                   Grumpier Old Men
4                  Waiting to Exhale
5        Father of the Bride Part II

- 반지의 제왕 찾기 : 관사 the유무

In [112]:
count = 0
for movie in movielens_title['title']: 
    if('Lord' in movie):
        count = count + 1
        print(movie)

Lord of Illusions
Little Lord Fauntleroy
Lord of the Rings, The
Lord of the Flies
Lords of Flatbush, The
Phantasm III: Lord of the Dead
Lord of the Flies
Lord of the Rings: The Fellowship of the Ring, The
Lord of the Rings: The Two Towers, The
Dragon Lord (a.k.a. Dragon Strike) (Long Xiao Ye)
Greystoke: The Legend of Tarzan, Lord of the Apes
Lord of the Rings: The Return of the King, The
Lord Love a Duck
At Play in the Fields of the Lord
Lord Jim
Something the Lord Made
Edges of the Lord
Lords of Dogtown
Lord of War
Thief Lord, The
Ringers: Lord of the Fans
War Lord, The
Lord, Save Us from Your Followers
Crime Lords of Tokyo
Evil Cult, The (Lord of the Wu Tang) (Yi tian tu long ji: Zhi mo jiao jiao zhu)
Lords of Salem, The
Lords of Discipline, The
Dragon ball Z 04: Lord Slug
Lord of Tears
Little Lord Fauntleroy

In [113]:
count

30

- Godfather : 관사 + 대소문자

In [117]:
count = 0
for movie in movielens_title['title']: 
    if('godfather' in movie):
        count = count + 1
        print(movie)

In [118]:
count = 0
for movie in movielens_title['title']: 
    if('Godfather' in movie):
        count = count + 1
        print(movie)

Godfather, The
Godfather: Part II, The
Godfather: Part III, The
Tokyo Godfathers
3 Godfathers
Last Godfather, The
Disco Godfather

In [115]:
count

7

#### 2-4. Change uppercase to lowercase

In [124]:
movielens_title['title'] = movielens_title['title'].str.lower()
imdb_50['title'] = imdb_50['title'].str.lower()

C:\Users\user\anaconda3\envs\torch37\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [125]:
movielens_title.head()

                               title
movieId
1                          toy story
2                            jumanji
3                   grumpier old men
4                  waiting to exhale
5        father of the bride part ii

In [126]:
set_movielens = set(movielens_title.title) 
print(len(set_movielens))

26205

In [128]:
set_imdb_30 = set(imdb_30.title)
print(len(set_imdb_30))

30

In [129]:
intersection_movies_30 = set_imdb_30.intersection(set_movielens)
print(len(intersection_movies_30))

12

In [155]:
count = 0
for movie in movielens_title['title']: 
#     if('buono' in movie):
#         count = count + 1
#         print(movie)
        
#     if('shawshank' in movie):
#         count = count + 1
#         print(movie)
        
#     if('matrix' in movie):
#         count = count + 1
#         print(movie)

#     if('lord of the rings' in movie):
#         count = count + 1
#         print(movie)

    if('hamilton' in movie):
        count = count + 1
        print(movie)
        
#     if('gisaengchung' in movie):
#         count = count + 1
#         print(movie)
        
#     if('parasite' in movie):
#         count = count + 1
#         print(movie)
        
#     if('soorarai' in movie):
#         count = count + 1
#         print(movie)
        
#     if('cidade' in movie):
#         count = count + 1
#         print(movie)
        
#     if('chihiro' in movie):
#         count = count + 1
#         print(movie)
        
#     if('green mile' in movie):
#         count = count + 1
#         print(movie)

#     if('vita' in movie):
#         count = count + 1
#         print(movie)
        
#     if('se7en' in movie):
#         count = count + 1
#         print(movie)
        
#     if('star wars' in movie):
#         count = count + 1
#         print(movie)

#     if('lambs' in movie):
#         count = count + 1
#         print(movie)

win a date with tad hamilton!
commander hamilton (hamilton)
that hamilton woman
hamiltons, the
hamilton - in the interest of the nation

### 3. Levenshtein Distance