## Movie data matching
- dataset : IMDB, MovieLens

In [4]:
import os
import pandas as pd
from matplotlib import pyplot as plt

%matplotlib inline

### 1. Load data 
- MovieLens
- IMDB

#### 1-1. MovieLens

In [69]:
path = './../../data/movieLens/'

In [70]:
os.listdir(path)

['genome_scores.csv',
 'genome_tags.csv',
 'link.csv',
 'movie.csv',
 'rating.csv',
 'tag.csv']

In [93]:
ratings_df = pd.read_csv(os.path.join(path + 'rating.csv'), encoding='utf-8')
tags_df = pd.read_csv(os.path.join(path + 'tag.csv'), encoding='utf-8')
movies_df = pd.read_csv(os.path.join(path + 'movie.csv'), encoding='utf-8')
links_df = pd.read_csv(os.path.join(path + 'link.csv'), encoding='utf-8')

In [94]:
# genome_tags_df = pd.read_csv(os.path.join(path + 'genome_tags.csv'), index_col='movieId', encoding='utf-8')
# genome_scores_df = pd.read_csv(os.path.join(path + 'genome_scores.csv'), index_col='movieId', encoding='utf-8')

In [95]:
print(links_df.shape)
links_df.head()

(27278, 3)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [96]:
print(ratings_df.shape)
ratings_df.head()

(20000263, 4)

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [97]:
print(tags_df.shape)
tags_df.head()

(465564, 4)

   userId  movieId            tag            timestamp
0      18     4141    Mark Waters  2009-04-24 18:19:40
1      65      208      dark hero  2013-05-10 01:41:18
2      65      353      dark hero  2013-05-10 01:41:19
3      65      521  noir thriller  2013-05-10 01:39:43
4      65      592      dark hero  2013-05-10 01:41:18

In [98]:
print(movies_df.shape)
movies_df.head()

(27278, 3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [99]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [100]:
movies_df[(movies_df.movieId==1203) | (movies_df.movieId==77846)]

       movieId                title       genres
1178      1203  12 Angry Men (1957)        Drama
15253    77846  12 Angry Men (1997)  Crime|Drama

In [101]:
movies_df[(movies_df.movieId==103671)]

       movieId         title  genres
21333   103671  Joker (2012)  Comedy

In [105]:
movielens_df = movies_df.copy()

In [106]:
movielens_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [107]:
movielens_df['year'] = movielens_df['title'].str[-7:]
movielens_df['title'] = movielens_df['title'].str[:-7]

In [108]:
movielens_df.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,(1995)
1,2,Jumanji,Adventure|Children|Fantasy,(1995)
2,3,Grumpier Old Men,Comedy|Romance,(1995)
3,4,Waiting to Exhale,Comedy|Drama|Romance,(1995)
4,5,Father of the Bride Part II,Comedy,(1995)

In [112]:
movielens_df['year'] = movielens_df['year'].str[2:-1]

In [145]:
movielens_df = movielens_df[['movieId','title','year','genres']]

In [146]:
movielens_df.head()

,movieId,title,year,genres
0,1,Toy Story,1995,Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji,1995,Adventure|Children|Fantasy
2,3,Grumpier Old Men,1995,Comedy|Romance
3,4,Waiting to Exhale,1995,Comedy|Drama|Romance
4,5,Father of the Bride Part II,1995,Comedy

#### 1-2. IMDB

In [147]:
path = './../../data/'

In [148]:
os.listdir(path)

['imdb_30.csv',
 'imdb_30.xlsx',
 'imdb_40.xlsx',
 'imdb_50.csv',
 'imdb_top_1000.csv',
 'movieLens',
 '~$imdb_30.xlsx',
 '~$imdb_40.xlsx']

In [149]:
imdb_1000 = pd.read_csv(os.path.join(path + 'imdb_top_1000.csv'), encoding='utf-8')

In [150]:
print(imdb_1000.shape)

(1000, 16)

In [151]:
imdb_1000.columns

Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [152]:
imdb_1000.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [153]:
imdb_df = imdb_1000.copy()

In [154]:
imdb_df = imdb_df[['Series_Title', 'Released_Year', 'Genre']]
imdb_df.columns = ['title','year','genres']

In [155]:
imdb_df.head()

                      title  year                genres
0  The Shawshank Redemption  1994                 Drama
1             The Godfather  1972          Crime, Drama
2           The Dark Knight  2008  Action, Crime, Drama
3    The Godfather: Part II  1974          Crime, Drama
4              12 Angry Men  1957          Crime, Drama

- IMDB Top 30

In [183]:
imdb_40 = imdb_df.iloc[0:40,:]

In [184]:
imdb_40.reset_index(inplace=True)

In [186]:
imdb_40.columns = ['movieId','title','year','genres']

In [187]:
imdb_40.head()

   movieId                     title  year                genres
0        0  The Shawshank Redemption  1994                 Drama
1        1             The Godfather  1972          Crime, Drama
2        2           The Dark Knight  2008  Action, Crime, Drama
3        3    The Godfather: Part II  1974          Crime, Drama
4        4              12 Angry Men  1957          Crime, Drama

In [188]:
len(imdb_40)

40

In [189]:
# imdb_30.to_csv('./data/imdb_30.csv')

In [203]:
# import openpyxl
# imdb_40.to_excel('./../../data/imdb_40.xlsx')

### 2. Comparison between movieLens and IMDB

#### 2-1. Between movieLens and IMDB

In [191]:
set_movielens = set(movielens_df.title) 
print(len(set_movielens))

26216

In [192]:
set_imdb = set(imdb_df.title)
print(len(set_imdb))

999

In [193]:
difference_movies = set_imdb - set_movielens
print(len(difference_movies))

518

In [194]:
intersection_movies = set_imdb.intersection(set_movielens)
print(len(intersection_movies))

481

#### 2-2. Between movieLens and IMDB_top_40

In [195]:
set_imdb = set(imdb_40.title)
print(len(set_imdb))

40

In [196]:
difference_movies = set_imdb - set_movielens
print(len(difference_movies))

24

In [197]:
intersection_movies = set_imdb.intersection(set_movielens)
print(len(intersection_movies))

16

In [198]:
intersection_movies

{'12 Angry Men',
 'Fight Club',
 'Forrest Gump',
 'Gladiator',
 'Goodfellas',
 'Inception',
 'Interstellar',
 "It's a Wonderful Life",
 'Joker',
 "One Flew Over the Cuckoo's Nest",
 'Pulp Fiction',
 'Saving Private Ryan',
 "Schindler's List",
 'Star Wars: Episode V - The Empire Strikes Back',
 'The Dark Knight',
 'Whiplash'}

In [199]:
difference_movies

{'Cidade de Deus',
 'Gisaengchung',
 'Hamilton',
 'Il buono, il brutto, il cattivo',
 'La vita è bella',
 'Se7en',
 'Sen to Chihiro no kamikakushi',
 'Seppuku',
 'Shichinin no samurai',
 'Soorarai Pottru',
 'Star Wars',
 'The Departed',
 'The Godfather',
 'The Godfather: Part II',
 'The Green Mile',
 'The Intouchables',
 'The Lord of the Rings: The Fellowship of the Ring',
 'The Lord of the Rings: The Return of the King',
 'The Lord of the Rings: The Two Towers',
 'The Matrix',
 'The Pianist',
 'The Prestige',
 'The Shawshank Redemption',
 'The Silence of the Lambs'}

- 동일한 제목의 imdb 영화

In [200]:
imdb_40[imdb_40['title'].isin(intersection_movies)]

,movieId,title,year,genres
2,2,The Dark Knight,2008,"Action, Crime, Drama"
4,4,12 Angry Men,1957,"Crime, Drama"
6,6,Pulp Fiction,1994,"Crime, Drama"
7,7,Schindler's List,1993,"Biography, Drama, History"
8,8,Inception,2010,"Action, Adventure, Sci-Fi"
9,9,Fight Club,1999,Drama
11,11,Forrest Gump,1994,"Drama, Romance"
15,15,Goodfellas,1990,"Biography, Crime, Drama"
16,16,Star Wars: Episode V - The Empire Strikes Back,1980,"Action, Adventure, Fantasy"
17,17,One Flew Over the Cuckoo's Nest,1975,Drama
21,21,Interstellar,2014,"Adventure, Drama, Sci-Fi"
24,24,Saving Private Ryan,1998,"Drama, War"
32,32,It's a Wonderful Life,1946,"Drama, Family, Fantasy"
33,33,Joker,2019,"Crime, Drama, Thriller"
34,34,Whiplash,2014,"Drama, Music"
39,39,Gladiator,2000,"Action, Adventure, Drama"

In [201]:
movielens_df[movielens_df['title'].isin(intersection_movies)]

,movieId,title,year,genres
293,296,Pulp Fiction,1994,Comedy|Crime|Drama|Thriller
352,356,Forrest Gump,1994,Comedy|Drama|Romance|War
523,527,Schindler's List,1993,Drama|War
936,953,It's a Wonderful Life,1946,Drama|Fantasy|Romance
1169,1193,One Flew Over the Cuckoo's Nest,1975,Drama
1171,1196,Star Wars: Episode V - The Empire Strikes Back,1980,Action|Adventure|Sci-Fi
1178,1203,12 Angry Men,1957,Drama
1187,1213,Goodfellas,1990,Crime|Drama
1944,2028,Saving Private Ryan,1998,Action|Drama|War
2873,2959,Fight Club,1999,Action|Crime|Drama|Thriller
3487,3578,Gladiator,2000,Action|Adventure|Drama
7664,8132,Gladiator,1992,Action|Drama
15253,77846,12 Angry Men,1997,Crime|Drama
15534,79132,Inception,2010,Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX
21333,103671,Joker,2012,Comedy
22919,109487,Interstellar,2014,Sci-Fi|IMAX
23663,112552,Whiplash,2014,Drama
27078,130219,The Dark Knight,2011,Action|Crime|Drama|Thriller

In [202]:
imdb_40[imdb_40['title'].isin(difference_movies)]

,movieId,title,year,genres
0,0,The Shawshank Redemption,1994,Drama
1,1,The Godfather,1972,"Crime, Drama"
3,3,The Godfather: Part II,1974,"Crime, Drama"
5,5,The Lord of the Rings: The Return of the King,2003,"Action, Adventure, Drama"
10,10,The Lord of the Rings: The Fellowship of the Ring,2001,"Action, Adventure, Drama"
12,12,"Il buono, il brutto, il cattivo",1966,Western
13,13,The Lord of the Rings: The Two Towers,2002,"Action, Adventure, Drama"
14,14,The Matrix,1999,"Action, Sci-Fi"
18,18,Hamilton,2020,"Biography, Drama, History"
19,19,Gisaengchung,2019,"Comedy, Drama, Thriller"
20,20,Soorarai Pottru,2020,Drama
22,22,Cidade de Deus,2002,"Crime, Drama"
23,23,Sen to Chihiro no kamikakushi,2001,"Animation, Adventure, Family"
25,25,The Green Mile,1999,"Crime, Drama, Fantasy"
26,26,La vita è bella,1997,"Comedy, Drama, Romance"
27,27,Se7en,1995,"Crime, Drama, Mystery"
28,28,The Silence of the Lambs,1991,"Crime, Drama, Thriller"
29,29,Star Wars,1977,"Action, Adventure, Fantasy"
30,30,Seppuku,1962,"Action, Drama, Mystery"
31,31,Shichinin no samurai,1954,"Action, Adventure, Drama"
35,35,The Intouchables,2011,"Biography, Comedy, Drama"
36,36,The Prestige,2006,"Drama, Mystery, Sci-Fi"
37,37,The Departed,2006,"Crime, Drama, Thriller"
38,38,The Pianist,2002,"Biography, Drama, Music"

#### 2-3. Analyze the difference

- 로마자 포함

In [204]:
imdb_40.iloc[26:27,:]

    movieId            title  year                  genres
26       26  La vita è bella  1997  Comedy, Drama, Romance

In [205]:
movielens_df.head()

,movieId,title,year,genres
0,1,Toy Story,1995,Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji,1995,Adventure|Children|Fantasy
2,3,Grumpier Old Men,1995,Comedy|Romance
3,4,Waiting to Exhale,1995,Comedy|Drama|Romance
4,5,Father of the Bride Part II,1995,Comedy

- 소문자로 변경

In [219]:
movielens_df['title'] = movielens_df['title'].str.lower()
imdb_40['title'] = imdb_40['title'].str.lower()

C:\Users\user\anaconda3\envs\torch37\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [220]:
movielens_df.head()

,movieId,title,year,genres
0,1,toy story,1995,Adventure|Animation|Children|Comedy|Fantasy
1,2,jumanji,1995,Adventure|Children|Fantasy
2,3,grumpier old men,1995,Comedy|Romance
3,4,waiting to exhale,1995,Comedy|Drama|Romance
4,5,father of the bride part ii,1995,Comedy

In [326]:
for num in range(0, len(movielens_df)): 
#     print(num)
    if('Godfather'.lower() in movielens_df['title'][num]):
        count = count + 1
        print(f"{movielens_df['movieId'].loc[num]} | {movielens_df['title'].loc[num]} | {movielens_df['year'].loc[num]}")

858 | godfather, the | 1972
1221 | godfather: part ii, the | 1974
2023 | godfather: part iii, the | 1990
8607 | tokyo godfathers | 2003
25934 | 3 godfathers | 1948
100180 | last godfather, the | 2010
106704 | disco godfather | 1979

### 3. Right Answer

In [264]:
path = './../../data/'

In [265]:
os.listdir(path)

['imdb_30.csv',
 'imdb_30.xlsx',
 'imdb_40(1차완성).xlsx',
 'imdb_40(수정).xlsx',
 'imdb_50.csv',
 'imdb_top_1000.csv',
 'movieLens',
 '~$imdb_40(1차완성).xlsx']

In [269]:
right_df = pd.read_excel(os.path.join(path + 'imdb_40(1차완성).xlsx'))

In [270]:
right_df.head()

                      title  imdb_id  movielens_id
0  The Shawshank Redemption        0         318.0
1             The Godfather        1         858.0
2           The Dark Knight        2      130219.0
3    The Godfather: Part II        3        1221.0
4              12 Angry Men        4        1203.0

In [275]:
right_df.dropna(axis=0, inplace=True)

In [277]:
len(right_df)

36

In [279]:
right_df.reset_index(inplace=True)

In [280]:
right_df = right_df.iloc[:30]

In [281]:
right_df.head()

   index                     title  imdb_id  movielens_id
0      0  The Shawshank Redemption        0         318.0
1      1             The Godfather        1         858.0
2      2           The Dark Knight        2      130219.0
3      3    The Godfather: Part II        3        1221.0
4      4              12 Angry Men        4        1203.0

In [286]:
right_df.dtypes

index             int64
title            object
imdb_id           int64
movielens_id    float64
dtype: object

In [289]:
right_df = right_df.astype({'movielens_id': 'int64'})

In [290]:
right_df.dtypes

index            int64
title           object
imdb_id          int64
movielens_id     int64
dtype: object

In [291]:
right_df.head()

   index                     title  imdb_id  movielens_id
0      0  The Shawshank Redemption        0           318
1      1             The Godfather        1           858
2      2           The Dark Knight        2        130219
3      3    The Godfather: Part II        3          1221
4      4              12 Angry Men        4          1203

### 4. Levenshtein Distance

In [306]:
#레벤슈타인 거리 구하기
def calc_distance(a,b):
    '''레벤슈타인 거리 계산하기'''
    # 1. 동일한 문자열이면 거리 0
    if a == b : return 0
    
    a_len = len(a)
    b_len = len(b)
    
    # 2. 둘 중 하나라도 문자열 길이가 0이면 거리는 다른 문자열 길이
    if a == "" : return b_len 
    if b == "" : return a_len

    # 2차원 배열(a_len+1, b_len+1)준비하기 --(#1)
    matrix = [ []for i in range(a_len+1)] #a길이+1 만큼의 크기의 배열준비
    for i in range(a_len+1) :
        matrix[i] = [0 for j in range(b_len+1)] #0으로 초기화(2차원배열)    
   
    # 0일때 초기값을 설정 (#2)
    for i in range(a_len+1):
        matrix[i][0]=i   
    for j in range(b_len+1):
        matrix[0][j]=j
    
    #표 채우기 --(#3)
    for i in range(1, a_len+1):
        ac=a[i-1]  #a의 첫번째 글자(=[0]) 부터 시작
        for j in range(1, b_len+1):
            bc=b[j-1] #b의 첫번째글자(=[0]) 부터 시작
            cost=0 if (ac == bc) else 1 #a[i-1]과 b[j-1] 이 같다면 비용(cost)은 0. 같지 않으면 1
            matrix[i][j] = min([  #min 함수 : 최소값을 돌려줌; 
            #a의 i번째까지의 문자와 b의 j번째까지의 문자를 비교해서, 삽입/제거/변경 비용 중 최소값으로 표를 채운다.
                matrix[i-1][j] + 1,     # 문자 삽입
                matrix[i][j-1] + 1,     # 문자 제거
                matrix[i-1][j-1] + cost # 문자 변경
            ])
    return matrix[a_len][b_len] #최종적으로는, 표의 오른쪽 아래에 있는 값이 최소거리(레벤슈타인 거리)가 된다.
    #ㄴ함수 calc_distance 끝

In [307]:
#"가나다라"와 "가마바라"의 거리 --(#4)
print("'가나다라'와 '가마바라'의 거리: ",end='')
print(calc_distance("가나다라", "가마바라"))

'가나다라'와 '가마바라'의 거리: 2

In [316]:
#실행 예
samples = ["신촌역","신천군","신천역","신발","마곡역", "촌신역", "역신촌"]
base = samples[0]

In [317]:
# 정렬 : 오름차순
r = sorted(samples, key = lambda n: calc_distance(base, n)) #base(신촌역)과 samples의 각 원소 비교

In [318]:
r

['신촌역', '신천역', '신천군', '신발', '마곡역', '촌신역', '역신촌']

In [319]:
for n in r:
    print(calc_distance(base, n), n)

0 신촌역
1 신천역
2 신천군
2 신발
2 마곡역
2 촌신역
2 역신촌

- 반지의 제왕

In [335]:
#실행 예
samples = ["The Lord of the Rings: The Return of the King".lower(),
        "lord of the rings, the",
        "lord of the rings: the fellowship of the ring, the",
        "lord of the rings: the two towers, the",
        "lord of the rings: the return of the king, the"]
base = samples[0]

In [336]:
# 정렬 : 오름차순
r = sorted(samples, key = lambda n: calc_distance(base, n)) #base(신촌역)과 samples의 각 원소 비교

In [337]:
for n in r:
    print(calc_distance(base, n), n)

0 the lord of the rings: the return of the king
9 lord of the rings: the return of the king, the
19 lord of the rings: the fellowship of the ring, the
19 lord of the rings: the two towers, the
24 lord of the rings, the

- GodFather

In [331]:
#실행 예
samples = ["The Godfather: Part II".lower(),
    "godfather, the",
    "godfather: part ii, the",
    "godfather: part iii, the",
    "tokyo godfathers",
    "3 godfathers",
    "last godfather, the",
    "disco godfather"]
base = samples[0]

In [332]:
# 정렬 : 오름차순
r = sorted(samples, key = lambda n: calc_distance(base, n)) #base(신촌역)과 samples의 각 원소 비교

In [333]:
for n in r:
    print(calc_distance(base, n), n)

0 the godfather: part ii
9 godfather: part ii, the
10 godfather: part iii, the
11 godfather, the
11 last godfather, the
12 3 godfathers
13 tokyo godfathers
14 disco godfather